@media (max-width: 1520px) {
  .px-6 {
    padding-right: 5rem !important;
    padding-left: 5rem !important;
  }
  .about-me__left {
    width: 350px;
  }
}
@media (max-width: 1200px) {
  .px-6 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }

  .about-me__left {
    width: 320px;
  }
}
@media (max-width: 992px) {

  .px-6 {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
  }

  .header {
    .nav-active {
      display: none !important;
      visibility: hidden !important;
    }
    .header_inner {
      .header__button-menu {
        margin: 0 0 0 20px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
        overflow: hidden;
        width: 50px;
        height: 20px;
        align-items: center;
        cursor: pointer;
        transition: opacity 0.5s ease;
        position: relative;
        color: var(--text);
        &:before {
          content: 'Menu';
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          display: inline-flex;
          align-items: center;
          transition: all 1s ease;
          transform: translate(0, 0);
        }
        &:after {
          content: 'Close';
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          display: inline-flex;
          align-items: center;
          opacity: 0;
          visibility: hidden;
          transition: all 1s ease;
          transform: translate(0, 20px);
        }
        &.active {
          &:before {
            transform: translate(0, -20px);
            opacity: 0;
            visibility: hidden;
          }
          &:after {
            opacity: 1;
            visibility: visible;
            transform: translate(0, 0);
          }
        }
        .my-blog__popup--js & {
          opacity: 0;
          transition-delay: 0.5s;
        }
      }
      .header__nav {
        position: fixed;
        top: 80px;
        bottom: 0;
        left: 0;
        right: 0;
        visibility: hidden;
        .header__navigation {
          z-index: 3;
          li {
            opacity: 0;
            visibility: hidden;
            transition: all 0.8s ease;
            transform: translate(0, 5px);
            a {
              padding: 15px 12px;
              font-size: 18px;
              &.active {
                color: var(--text);
                i {
                  filter: var(--bg-nav-icon);
                }
              }
              &:hover {
                color: var(--text);
                i {
                  filter: var(--bg-nav-icon);
                }
              }
            }
            @for $i from 1 through 8 {
              &:nth-child(#{$i}) {
                transition-delay:(#{($i+1)*0.1s});
              }
            }
            .nav-open-js & {
              opacity: 1;
              visibility: visible;
              transform: translate(0, 0px);
            }
          }
        }
        .nav-open-js & {
          visibility: visible;
        }
        &:before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: var(--bg-white);
          z-index: 1;
          opacity: 0;
          visibility: hidden;
          transition: opacity .5s ease;
        }
        &:after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 2;
          background-color: var(--bg-white);
          visibility: hidden;
          transition-delay: 1s;
          -moz-transition-duration: 1s;
          -webkit-transition-duration: 1s;
          transition-duration: 1s;
        }
        .nav-open-js & {
          &:before {
            opacity: 1;
            visibility: visible;
          }
          &:after {
            visibility: visible;
          }
        }
      }
      .header__button-hire  {
        a {
          padding: 10px 20px !important;
          border-radius: 8px;
          background-color: var(--bg-black-yellow);
          color: var(--text-white) !important;
          font-size: 16px !important;
          font-weight: 500;
        }
      }
      .button-dark-mode {
        transition: opacity 0.5s ease;
        .my-blog__popup--js & {
          opacity: 0;
          transition-delay: 0.5s;
        }
      }
    }
    &.w-25 {
      width: 100% !important;
    }
  }

  .about-me__left {
    width: 100%;
    position: inherit;
    display: flex;
    figure {
      margin: 0;
      width: 40%;
    }
  }
  .dark-light-mobile {
    .i-light {
      margin: 0;
    }
    .knobs {
      justify-content: center;
    }
    .knobs strong {
      margin: 0;
    }
    .knobs span, .knobs strong label {
      display: none;
    }
    .button .knobs:before {
      display: none;
    }
    .button {
      width: 35px;
      height: 35px;
      border: none;
    }
  }

  .button .checkbox:checked + .knobs {
    background: #3d3d3d;
  }
  .knobs {
    background-color: #FFF;
  }
  .button .checkbox:checked + .knobs .i-light {
    filter: var(--bg-dark-mode-icon);
  }
}
@media (max-width: 768px) {
  .px-6 {
    padding-right: 1.2rem !important;
    padding-left: 1.2rem !important;
  }

  .home {
    .home__name {
      font-size: 42px;
      margin: 0 0 20px;
    }
    .home__intro {
      margin: 30px 0;
    }

  }

  .about-me__left {
      figure {
        margin: 0;
        width: 40%;
      }
      .about-me__content {
        padding: 0 0 0 20px;
        width: 60%;
        display: flex;
        flex-direction: column;
        .about-me__name {
          font-size: 24px;
        }
        .about-me__role {
          margin: 0 0 5px;
        }
        .about-me__contact {
          margin: 15px 0;
          font-size: 14px;
        }
      }
    }

  .portfolio {
    .portfolio__list {
      .portfolio__item {
        padding: 10px 15px;
        width: 100%;
      }
    }

    .filter-button-group {
      position: inherit;
      right: 0;
      top: inherit;
      button {
        margin: 0 15px 10px 0;
      }
    }
  }
  .resume {
    .my-resume__skill {
      .my-resume__skill--item {
        width: 100%;
      }
    }
  }
  .contact {
    .contact__left {
      padding: 35px;
    }
  }

}

@media (max-width:576px) {
  .loading__inner {
    .loading__list {
      height: 80px;
    }
  }
  .vh-100-80 {
    height: calc(100vh - 80px) !important;
  }

  .heading-default {
    margin: 0 0 20px 0;
    font-size: 20px;
  }
  .pt-6 {
    padding-top: 2rem !important;
  }
  .pb-6 {
    padding-bottom: 3rem !important;
  }
  .about-me__left {
    flex-wrap: wrap;
      figure {
        width: 100%;
      }
      .about-me__content {
        padding: 30px 0 30px 20px;
        width: 100%;
      }
  }
  .home {
    .home__button {
      .home__button--contact {
        padding: 15px 20px;
      }
      .home__button--about {
        margin: 0 0 0 15px;
        &:after {
          margin: 0 0 0 10px;
          width: 50px;
        }
      }
    }
  }
  .contact {
    .vh-100-80 {
      height: auto !important;
    }
  }
}

@media (max-height:820px) {
  .about-me__left {
    figure {
      margin: 0;
    }
    .about-me__content {
      padding: 20px 30px 35px;
    }
  }
}

@media (max-height:768px) {
  .about-me__left {
    width: 300px;
    figure {
      margin: 0;
    }
    .about-me__content {
      padding: 20px 30px 35px;
    }
  }
}