@media (max-width: 1520px) {
  .px-6 {
    padding-right: 5rem !important;
    padding-left: 5rem !important;
  }
  .home {
    .about-me__left {
      width: 350px;
    }
  }
}
@media (max-width: 1200px) {
  .px-6 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }

  .home {
    .about-me__left {
      width: 320px;
    }
  }
}
@media (max-width: 992px) {
  .px-6 {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
  }

  .home {
    .about-me__left {
      width: 280px;
    }
  }
}
@media (max-width: 768px) {

}

@media (max-width:576px) {

}